:root {
    --title-color: #2e2f42;
    --main-text-color: #434455;
    --logo-color: #4d5ae5;
    --hover-color: #404bbf;
    --hero-color: #ffffff;
    --footer-text-color: #f4f4fd;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: var(--hero-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/**!HEADER*/

.header-navigation {}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}

.header-logo:is(:hover, :focus) {
    color: var(--hover-color);
}

.header-logo span {
    color: var(--title-color);
}

.header-menu {}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.header-menu-link:is(:hover, :focus) {
    color: var(--hover-color);
}

/**!ADDRESS*/
.header-address {
    font-style: normal
}

.header-soc {
    list-style: none;
}

.header-soc-item {}

.header-soc-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header-soc-link:is(:hover, :focus) {
    color: var(--hover-color);
}

/**!HERO*/

.hero {
    background-color: var(--title-color);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--hero-color);
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--hero-color);
    background-color: var(--logo-color);
}

.hero-btn:is(:hover, :focus) {
    background-color: var(--hover-color);
}

/**!BENEFITS*/

.benefits-list {}

.benefits-item {}

.benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.benefits-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/**!PRODUCTS*/

.products {}

.products-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

.products-title-list:is(:hover, :focus) {
    color: var(--hover-color);
}

/**!TEAM*/

.team {
    background-color: var(--footer-text-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

.team-list {
    background-color: var(--hero-color);
}

.team-item {}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/**!FOOTER*/

.footer {
    background-color: var(--title-color);
}

.footer-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    text-decoration: none;
}


.footer-title:is(:hover, :focus) {
    color: #1d2050;
}

.footer-title span {
    color: var(--logo-color);
}

.footer-logo-span {
    color: var(--footer-text-color);
}


.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
}

/**! PORTFOLIO */

/**!FILTER*/

.filter-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--logo-color);
    list-style: none;
}

.filter-list-all {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--logo-color);
    background-color: var(--footer-text-color);
    cursor: pointer;
}

.filter-list-all:hover {
    color: var(--hero-color);
    background-color: var(--hover-color);
}

.filter-list-all:focus {
    color: var(--hero-color);
    background-color: var(--hover-color);
}

.filter-link {
    text-decoration: none;
}

.filter-link-list {}

.filter-link-item {
    text-decoration: none;
}

.filter-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.filter-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}